<div class="flex-col gap-5">
    <header class="font-[700] text-3xl text-white text-center">Is this your Information?</header>
    <div class="flex flex-col gap-4 items-center">
        <div class="w-full text-white text-xl">
            <label class="flex flex-row gap-2 justify-center">Name :<span class="font-bold">{{CustomerName | titlecase}}</span></label>
            <label class="flex flex-row gap-2 justify-center">Contact Number :<span class="font-bold">{{ContactNumber}}</span></label>
        </div>
        @if (this.otpsend == false) {
            <div class="bg-primary p-6 w-[85%] rounded-xl leading-none flex flex-col items-center text-center">
                <span class="font-bold text-secondary text-xl">
                    Send One-Time Password (OTP)
                </span>
                <span class="text-sm">We will send an OTP to the registered mobile number.</span>
                <div class="flex-row flex gap-4 mt-4">
                    <button class="btn-primary" (click)="validation()">
                        Yes, Send OTP
                    </button>
                    <button class="btn-accent btn-danger" (click)="validation()">
                        No
                    </button>
                </div>
            </div>
        }
    </div>
    <div class="flex-col gap-4">
        @if (this.otpsend == true) {
            <div>
                <div class="w-full px-3 py-4 bg-white rounded-xl">
                    <div class="flex-row items-center justify-left gap-3">
                        <div class="w-full">
                            <input type="text" name="otpConfirmation" [(ngModel)]="otpConfirmation" id="" class="w-full outline-none placeholder:text-gray-500 text-center" placeholder="OTP">
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn-success disabled:!bg-gray-500" (click)="confirmOTP()" [disabled]="otpConfirmation == '' || otpConfirmation != otp">
                Confirm
            </button>
        }
    </div>
</div>