<div class="flex-col gap-5">
    <header class="font-[700] text-3xl text-white text-center">Customer Verification</header>
    <div class="flex-col gap-4">
        <div>
            <div class="w-full px-3 py-4 bg-white rounded-xl">
                <div class="flex-row items-center justify-left gap-3">
                    <lucide-icon [img]="fieldIcon"></lucide-icon>
                    <div class="w-full">
                        <input type="text" name="" id="" class="w-full outline-none placeholder:text-gray-500" placeholder="First Name">
                    </div>
                </div>
            </div>
            ex. Juan
        </div>
        <div>
            <div class="w-full px-3 py-4 bg-white rounded-xl">
                <div class="flex-row items-center justify-left gap-3">
                    <lucide-icon [img]="fieldIcon"></lucide-icon>
                    <div class="w-full">
                        <input type="text" name="" id="" class="w-full outline-none placeholder:text-gray-500" placeholder="Middle Initial (Optional)">
                    </div>
                </div>
            </div>
            ex. D
        </div>
        <div>
            <div class="w-full px-3 py-4 bg-white rounded-xl">
                <div class="flex-row items-center justify-left gap-3">
                    <lucide-icon [img]="fieldIcon"></lucide-icon>
                    <div class="w-full">
                        <input type="text" name="" id="" class="w-full outline-none placeholder:text-gray-500" placeholder="Last Name">
                    </div>
                </div>
            </div>
            ex. Dela Cruz
        </div>
        <button class="btn-accent" (click)="validation()">
            Verify Customer Information
        </button>
    </div>
</div>