<div>
    <header class="font-nunito !text-2xl font-semibold mb-3">Lot Payment</header>
    <div>
        <span class="font-nunito !font-[900]">Lot List</span>
        <table class="w-full border-collapse">
            <thead class="bg-white !rounded-md border-b-1">
                <tr class="text-left">
                    <th class="py-3 px-2 rounded-tl-lg ">Lot Number</th>
                    <th class="py-3 px-2 text-center">Balance</th>
                    <th class="py-3 px-2 rounded-tr-lg text-right">Acceleration Balance</th>
                </tr>
            </thead>
            <tbody class="bg-white">
                <tr class="">
                    <td class="py-2 px-2">1-3-4</td>
                    <td class="py-2 px-2 text-center">2000.00</td>
                    <td class="py-2 px-2 text-right">200</td>
                </tr>
                 <tr class="">
                    <td class="py-2 px-2">1-3-4</td>
                    <td class="py-2 px-2 text-center">2000.00</td>
                    <td class="py-2 px-2 text-right">200</td>
                </tr>
            </tbody>
        </table>
        <div class="flex-col gap-3">
            <span class="font-nunito font-extrabold text-lg text-white">
                Payment Allocation
            </span>
            <label class="flex items-center gap-3 bg-white/90 px-4 py-3 rounded-xl cursor-pointer">
                <input type="radio" name="allocation" value="equal" checked class="accent-primary"/>
                <span class="font-semibold">Split Equally</span>
            </label>

            <label class="flex items-center gap-3 bg-white/90 px-4 py-3 rounded-xl cursor-pointer">
                <input type="radio" name="allocation" value="allocate" class="accent-primary"/>
                <span class="font-semibold">Allocate</span>
            </label>
        </div>
    </div>
</div>